<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Proyecto Web</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"/>
    </h:head>
    <h:body>
        
        <center>
        <h1 style="color: red;">Listado de los Alumnos registrados</h1>
         </center>  
        
           <center>
           <h:form> 
            <h3>ID</h3>
            <h:inputText value="#{Balumno.alumno.id}" />
             <h3>NOMBRE</h3>
            <h:inputText value="#{Balumno.alumno.nombre}" />
             <h3>APELLIDO</h3>
            <h:inputText value="#{Balumno.alumno.apellido}" />
             <h3>EDAD</h3>
            <h:inputText value="#{Balumno.alumno.edad}" />
             <h3>TELEFONO</h3>
             <h:inputText value="#{Balumno.alumno.telefono}" /> 
             <br></br>
              <br></br>
            <h:commandButton action="#{Balumno.agregar()}" value="Agregar Alumno"/>
            
        </h:form>
         </center>

           <br></br>
         <h:form>
             <h:dataTable value="#{Balumno.listado}" var="p" styleClass="table table-dark">
            
             <h:column>
                <f:facet name="header"> ID </f:facet>
                #{p.id}
            </h:column>
            
             <h:column>
                <f:facet name="header"> Nombre </f:facet>
                #{p.nombre}
            </h:column>
            
            <h:column>
                <f:facet name="header"> Apllido </f:facet>
                #{p.apellido}
            </h:column>
                 
            <h:column>
                <f:facet name="header"> Edad </f:facet>
                #{p.edad}
            </h:column>
            
            <h:column>
                <f:facet name="header"> Telefono </f:facet>
                #{p.telefono}
            </h:column>
            
        </h:dataTable>
        </h:form>
        
    </h:body>
</html>

